<div id="game-info">
  <div class="info">
    <h2>Game ID: <span></span></h2>
    <h4>Game Name: <span></span></h4>
  </div>
  <div class="home">
    <a href="/" data-navigo>Home</a>
  </div>  
</div>

<div id="squares">
  <div id="players">
    <h2>Players</h2>
    <ul id="your-squares"></ul>
    <ul id="unclaim-squares"></ul>
    <h3>YOU - <span id="your-identicon"></span></h3>
    <ul id="player-list"></ul>
    <p id="transaction-status"></p>
  </div>
  <table id="squares-grid"></table>
</div>